.footer {
  background-color: black;
  width: 100%;
  padding-block: 32px;
  padding-inline: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  p {
    font-size: small;
  }
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    gap: 0;
    justify-content: center;
  }
}
