.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  height: 100%;
}
.splide {
  position: relative;
  height: calc(100vh - 100px);
}

.slide {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
}
.articale {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  padding-inline: 72px;
  max-width: 392px;
}
.title {
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  display: flex;
}
.title p {
  text-transform: capitalize;
}
.title p:last-child {
  color: rgb(var(--primary));
}
.headLine {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

@media (min-width: 768px) {
  .slide {
    height: calc(100vh - 148px);
  }
  .splide {
    height: calc(100vh - 148px);
  }
  .articale {
    margin-right: auto;
    margin-left: 48px;
  }
}
