.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  height: 100%;
}
.splide {
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.slideContainer {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
  transition: translate 0.3s linear;
}
.slide {
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px);
}

.arrows {
  position: absolute;
  inset: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
  z-index: 30;
}
.arrow {
  background-color: rgb(255, 255, 255, 0.3);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
.pagenations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-block: 16px;
}
.pagenationDot {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.pagenationDot[data-active="true"] {
  background-color: rgb(var(--primary), 0.8);
}
@media (min-width: 768px) {
  .slide {
    height: calc(100vh - 148px);
  }
  .splide {
    height: calc(100vh - 148px);
  }
}
